h3{
    color: red;
    font-family: Arial;
}


html{
    padding-left: 20px;


}


.formLogin {
    display: block;
    width: 100%;
    max-width: 800px;
    /* -- */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* -- */
    background: #fff;
    padding: 40px 100px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);

}
.loginButton{
    display: block;
    width: 40%;
    max-width: 300px;
    /* -- */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* -- */
    background: #fff;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);

}

.loginButton:hover{
    background: #6c757d;
    color: white;
}

#equipes-list{
    padding-bottom: 2em;
}


input, select {
    border: none;
    /* -- */
    border-bottom: solid 1px #87b1c1;
    margin: 0 10px;
    padding: 4px;
    color: #3c87a5;
}